input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .sms {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 25px;
  }
  input {
    margin-right: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    outline: none;
    
  }
  
  .digit {
    margin-top: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button{
    color: white;
    background-color: gray;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: large;
    font-weight: bold;
    margin-top: 25px;
  }
  